.clock {
    display: flex;
  }
  .hourhand,
  .minutehand,
  .secondhand {
    margin: 0px 10px;
    padding: 10px 20px;
    padding-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
  }
  .clock h3{
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
  }
  .clock p{
    text-align: center;
    margin-top: -15px;
  }