.joinCard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: var(--primary_color);
    color: var(--text_color);
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    margin: 20px 10px 20px 0px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),    0.3em 0.3em 1em rgba(255, 255, 255, 0.2);
}

.joinCard button{
    border-radius: 20px;
    --bs-btn-color: var(--head_color);
    --bs-btn-border-color: var(--head_color);


}
.joinCard button:hover{
    background-color: var(--head_color);
    opacity: 0.8;
}

.modalInput::placeholder{
    color: var(--primary_color);
}
.joinCard > p{
    font-size: 1.3rem;
}