.messages {
  display: flex;
  align-items: center;
  color: "blue";
  background-color: var(--primary_color);
  border-radius: 20px;
  margin-top: 5px;
}
.messages > input {
  width: 74%;
  height: 30px;
  border: none;
  border-radius: 0;
  background-color: #4f4b4b;
  color: #ffffff;
  margin: auto;
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
}

.messages > button {
  border: none;
  border-radius: 3px;
  width: 50px;
}
.chatDiv{
  background-color: var(--bg_color);
  border-radius: 10px;
  padding: 5px;

}
.chat {
 margin: 10px;
}

/* make all Messages scrollable */
.allMessages {
  display: flex;
  flex-direction: column;
  height: 250px;
  /* width: 100%; */
  overflow-y: scroll;
  /* border: 1px solid white; */
  padding: 10px;
  color: white;
  background-color: #4f4b4b;
  border-radius: 20px;
}
.chatSender{
  font-size: 0.6rem;
  border-radius: 5px;
  padding: 3px;
  background-color: #555;
}
.chatMessage{
  margin-top: 2px;
  border-radius: 10px;
  padding: 4px;
}
.parentMsg{
  margin: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--primary_color);
}
 
::-webkit-scrollbar-thumb {
  background:#888; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
