.navbar {
    background: var(--primary_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 20px; 
    color: var(--head_color);
    width: 100%;
    position: absolute;
    top: 0;
}
.navbar > img{
    width: 70px;
    border-radius: 50%;
}