.navbar {
    background: #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 20px; 
    color: #EDEDED;
}
.navbar > img{
    width: 70px;
    border-radius: 50%;
}