.hostBox{
    background-color: var(--primary_color);
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid gray;
}

.hostBox img{
    border-radius: 50%;
    object-fit:contain;
    width: 200px;
    margin-bottom: 30px;
}
.hostBox h3{
    color: var(--head_color);
}   
