.lobby {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--bg_color);
    padding: 20px;
    overflow-y: scroll;
}

.lobbyContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    grid-area: auto;
    height: 100vh;
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 30px;
    overflow-y: scroll;
}


.publicContent>h3,
.privateContent>h3 {
    border-radius: 20px;
    width: 100%;
    background-color: var(--primary_color);
    color: var(--head_color);
    padding: 8px 0px;
    margin-bottom: 40px;
    padding-left: 20px;
}
