
.userHandle {
    padding-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--head_color);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    background: var(--primary_color);
    width: 700px;
    border: 1px solid #202637;
    box-shadow: 5px 5px 8px #202637;
    border-radius: 10px;
}

.userHandle input {
    width: 60%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid var(--head_color);
    background: transparent;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    outline: none;
    caret-color: #e4e4e4;
    cursor:text;
}

.userHandle button {
    margin: 20px;
    width: 15%;
    height: 2.5rem;
    color: var(--text_color);
    font-size: 1.3rem;
    --bs-btn-hover-bg: #{shade-color(var(--head_color), 10%)};
}

.userHandle button:hover {
    opacity: 0.8;
}

.userHandle>label>p {
    color: var(--head_color);
    letter-spacing: 0.25rem;
    padding: 0px;
    margin-bottom: 10px;
}

.userHandle>label>p {
    color: #00cfc8;
    letter-spacing: 0.25rem;
    padding: 0px;
    margin-bottom: 10px;
}

.error {
    color: var(--bg_color);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
