
.login img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.8; */
}

.userHandle {
    padding-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    background: var(--dark_black);
    width: 700px;
    border: 1px solid #202637;
    box-shadow: 5px 5px 8px #202637;
    border-radius:10px;
}

.userHandle input {
    width: 60%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid var(--light_black);
    background: transparent;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    outline: none;
    caret-color: #e4e4e4;
}

.userHandle button {
    margin: 20px;
    width: 15%;
    height: 2.5rem;
    border: none;
    background: var(--light_black);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 3px 3px 1px var(--dark_black);
    border-radius: 6px;
}

.userHandle button:hover {
    opacity: 0.8;
}
.userHandle >label >p{
    color: var(--red);
    letter-spacing: 0.25rem;
    padding: 0px;
    margin-bottom: 10px;
}
.userHandle >label >p{
    color: #00cfc8;
    letter-spacing: 0.25rem;
    padding: 0px;
    margin-bottom: 10px;
}
.error {
    color: var(--light_black);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top:10px;
}