.room-options { 
    background: var(--light_black);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.public {
    background: var(--dark_black);
    width: 200px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
}

.private {
    background: var(--dark_black);
    width: 200px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
}

.public-btn {
    background: var(--red);
    margin-top: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.private-btn {
    background: var(--red);
    margin-top: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}