.room {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--light_black);
}

.invite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35rem;
    background: var(--dark_black);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 40px;
    margin-top: 200px;
    margin-left: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--light_black);
}

.invite * {
    padding: 20px;
    color: var(--white);
}

.invite h3 {
    color: var(--red);
}

.inputLink{
    display: flex;
    flex-direction: row;
    background-color: var(--light_black);
    padding:5px;
    border-radius: 30px 30px 30px 30px;
    margin-top:20px;
    justify-content: space-between;
}

.inputLink button { 
    background-color: var(--dark_black);
    cursor: pointer;
    border: 1px solid var(--light_black);
    border-radius: 30px;
    text-align: center;
    height: 20px;
    display: inline-flex;
    align-items: center;
}
.inputLink button:hover{
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.inputLink input {
    height: 1rem;
    border-bottom: 1px solid white;
    background: var(--light_black);
    color: white;
    width: 70%;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    outline: none;
    border-radius: 30px;
    border: none;
    width: 100%;
}
