@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --primary_color: #141414;
  --bg_color: #212121;
  --head_color: #14FFEC;
  --text_color : #EEEEEE;
}
